<% include_calendar_headers_tags %>
<%= javascript_include_tag 'budget', plugin: 'espeo_budget' %>
<%= stylesheet_link_tag 'budget', plugin: 'espeo_budget' %>
<%
  worked_hours_count_by_role_id = Hash[@budget_calculator.works_by_role.map do |r| 
    [ r[:role].id, r[:worked_hours_count] ] 
  end]
%>
<script type="text/javascript">
  window.workedHoursCount = <%= worked_hours_count_by_role_id.to_json.html_safe %>;
</script>


<h2 class="inline">Ustawienia budżetu</h2>
<%= link_to "Wróć do budżetu", project_budget_path(@project), class: "icon icon-cancel" %>

<%= form_for :budget, html: { id: 'budget-form' } do |f| %>
<% time = Time.now.to_i %>

<fieldset class="box">
  <legend><h3>Przyznany budżet godzinowy</h3></legend>

  <table class="list js-project_role_budgets width-auto">
    <thead>
      <tr>
        <th>Rola</th>
        <th>Ilość godzin</th>
      </tr>
    </thead>

    <tbody>
      <% @form.project_role_budgets.each do |project_role_budget| %>
        <%= f.fields_for "project_role_budgets[]", project_role_budget do |q| %>
          <tr>
            <td class="name">
              <%= q.hidden_field :id %>
              <%= q.collection_select :role_id, @roles, :id, :name, {include_blank: true}, class: 'js-project_role_budget-role_id'  %>
            </td>
            <td>
              <%= q.number_field :hours_count, class: 'js-project_role_budget-hours_count', min: 0 %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <% new_item = ProjectRoleBudget.new(project: @project) { |x| x.id = @form.next_project_role_budget_uid } %>
      <%= f.fields_for "project_role_budgets[]", new_item do |q| %>
        <tr class="js-multiply-container" data-multiply-id="<%= new_item.id %>">
          <td class="name">
            <%= link_to '', '#', class: "icon icon-add js-multiply-button" %>
            <%= q.hidden_field :id, value: "_new" %>
            <%= q.collection_select :role_id, @roles, :id, :name, {include_blank: true}, class: 'js-project_role_budget-role_id' %>
          </td>
          <td>
            <%= q.number_field :hours_count, class: 'js-project_role_budget-hours_count' , min: 0 %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th>RAZEM</th>
        <th>
          <span class="js-project_role_budget-hours_count-sum"></span>
          godzin
        </th>
      </tr>
    </tfoot>
  </table>
</fieldset>

<% Wage::TYPES.each.each_with_index do |(type, type_value), i| %>
  <fieldset class="box">
    <legend><h3><%= t("#{type.to_s}_wages") %></h3></legend>

    <table class="list js-wages js-<%= "#{type.to_s}_wages" %>">
      <thead>
        <tr>
          <th>Rola</th>
          <th>Stawka za godzinę</th>
          <th>Data początkowa stawki (opcjonalnie)</th>
          <th>Data końcowa stawki (opcjonalnie)</th>
        </tr>
      </thead>

      <tbody>
        <% @form.send("#{type.to_s}_wages").each do |wage| %>
          <%= f.fields_for "wages[]", wage do |q| %>
            <tr class="<%= 'invalid' unless wage.valid? %>">
              <td class="name">
                <%= q.hidden_field :id %>
                <%= q.hidden_field :type %>
                <%= q.collection_select :role_id, @roles, :id, :name, {include_blank: true}, class: "js-wage-role_id" %>
              </td>
              <td>
                <%= q.number_field :price_per_hour, class: "js-wage-price_per_hour", min: 0 %>
              </td>
              <td>
                <%= q.text_field :start_date, class: "js-datepicker js-wage-start_date", placeholder: @project.custom_start_date %> 
              </td>
              <td>
                <%= q.text_field :end_date, class: "js-datepicker js-wage-end_date", placeholder: @project.custom_end_date %> 
              </td>
            </tr>
          <% end %>
        <% end %>

        <% new_item = Wage.new(project: @project) { |x| x.id = @form.next_wage_uid } %>
        <%= f.fields_for "wages[]", new_item do |q| %>
          <tr class="js-multiply-container" data-multiply-id="<%= new_item.id %>">
            <td class="name">
              <%= link_to '', '#', class: "icon icon-add js-multiply-button" %>
              <%= q.hidden_field :id, value: "_new" %>
              <%= q.hidden_field :type, value: type_value %>
              <%= q.collection_select :role_id, @roles, :id, :name, {include_blank: true}, class: "js-wage-role_id" %>
            </td>
            <td>
              <%= q.number_field :price_per_hour, class: "js-wage-price_per_hour", min: 0 %>
            </td>
            <td>
              <%= q.text_field :start_date, class: "js-datepicker js-wage-start_date", placeholder: @project.custom_start_date %> 
            </td>
            <td>
              <%= q.text_field :end_date, class: "js-datepicker js-wage-end_date", placeholder: @project.custom_end_date %> 
            </td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th>RAZEM</th>
          <th>
            <span class="js-wage-price_per_hour-sum"></span> zł
          </th>
          <th colspan="2"></th>
        </tr>  
      </tfoot>
    </table>
  </fieldset>
<% end %>

<br />
<hr />
<br />

<fieldset class="box">
  <legend><h3>Podsumowanie</h3></legend>
  <strong>
    Przewidywany profit: <span class="js-profit"></span> zł
  </strong>
</fieldset>

<%= submit_tag l(:button_save) %>

<% end %>
