<% include_calendar_headers_tags %>
<%= javascript_include_tag 'budget', plugin: 'espeo_budget' %>
<%= stylesheet_link_tag 'budget', plugin: 'espeo_budget' %>

<% cache(@budget_calculator.cache_key, expires_in: 1.hour) do %>
  <h2 class="inline"><%= t(:project_budget) %></h2>
  <%= link_to t(:budget_settings), edit_project_budget_path(@project), class: "icon icon-edit" %>

  <dl class="dl dl-horizontal">
    <dt><%= t(:project_start_date) %></dt>
    <dd><%= @project.custom_start_date %></dd>

    <dt><%= t(:project_end_date) %></dt>
    <dd><%= @project.custom_end_date %></dd>

    <dt><%= t(:planned_hours_count) %></dt>
    <dd><%= @budget.planned_hours_count %> godzin</dd>

    <dt><%= t(:total_hours_count) %></dt>
    <dd><%= @budget.total_hours_count %> godzin</dd>

    <dt><%= t(:total_income) %></dt>
    <dd><%= @budget.total_income %> <%= t(:wages_currency) %></dd>
    
    <dt><%= t(:total_cost) %></dt>
    <dd><%= @budget.total_cost %> <%= t(:wages_currency) %></dd>

    <dt><%= t(:total_profit) %></dt>
    <dd><%= @budget.total_profit %> <%= t(:wages_currency) %></dd>
  </dl>

  <br />
  <hr />
  <br />

  <h2>
    <%= t(:state_at_date, date: @budget_calculator.current_date) %>
    <form method="GET">
      <input type="hidden" name="current_date" class="js-budget-datepicker" value="<%= @budget_calculator.current_date %>" />
    </form>
  </h2>

  <dl class="dl dl-horizontal">
    <dt><%= t(:worked_hours_count) %></dt>
    <dd><%= @budget_calculator.worked_hours_count %> <%= t(:field_hours).downcase %></dd>

    <dt><%= t(:income) %></dt>
    <dd><%= @budget_calculator.worked_income %> <%= t(:wages_currency) %></dd>

    <dt><%= t(:cost) %></dt>
    <dd><%= @budget_calculator.worked_cost %> <%= t(:wages_currency) %></dd>

    <dt><%= t(:profit) %></dt>
    <dd><%= @budget_calculator.worked_profit %> <%= t(:wages_currency) %></dd>
  </dl>

  <br />

  <h3><%= t(:roles_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:role) %></th>
        <th><%= t(:planned_hours_count) %></th>
        <th><%= t(:worked_hours_count) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_role.each do |row| %>
      <tr>
        <td><%= row[:role].name %></td>
        <td><%= row[:planned_hours_count] %></td>
        <td><%= row[:worked_hours_count] %></td>
        <td><%= row[:worked_income] %></td>
        <td><%= row[:worked_cost] %></td>
        <td><%= row[:worked_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <br />

  <h3><%= t(:users_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:user) %></th>
        <th><%= t(:worked_hours_count) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_user.each do |row| %>
      <tr>
        <td><%= link_to row[:user].name, time_entries_path(user_id: row[:user].id, project_id: @project.id) %></td>
        <td><%= row[:worked_hours_count] %></td>
        <td><%= row[:worked_income] %></td>
        <td><%= row[:worked_cost] %></td>
        <td><%= row[:worked_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
