<% include_calendar_headers_tags %>
<%= javascript_include_tag 'budget', plugin: 'espeo_budget' %>
<%= stylesheet_link_tag 'budget', plugin: 'espeo_budget' %>

<% cache(@budget_calculator.cache_key, expires_in: 1.hour) do %>
  <h2 class="inline"><%= t(:project_budget) %></h2>
  <%= link_to t(:budget_settings), edit_project_budget_path(@project), class: "icon icon-edit" %>

  <dl class="dl dl-horizontal">
    <dt><%= t(:project_start_date) %></dt>
    <dd><%= @project.custom_start_date %></dd>

    <dt><%= t(:project_end_date) %></dt>
    <dd><%= @project.custom_end_date %></dd>

    <dt><%= t(:planned_hours_count) %></dt>
    <dd><%= @budget.planned_hours_count %> godzin</dd>

    <dt><%= t(:total_hours_count) %></dt>
    <dd><%= @budget.total_hours_count %> godzin</dd>

    <dt><%= t(:total_income) %></dt>
    <dd><%= @budget.total_income %> <%= t(:wages_currency) %></dd>
    
    <dt><%= t(:total_cost) %></dt>
    <dd><%= @budget.total_cost %> <%= t(:wages_currency) %></dd>

    <dt><%= t(:total_profit) %></dt>
    <dd><%= @budget.total_profit %> <%= t(:wages_currency) %></dd>
  </dl>

  <br />
  <hr />
  <br />

  <h2>
    <form method="GET">
      <%= t(:budget_state_for_dates_html, 
              :start_date => (text_field_tag('start_date', @budget_calculator.start_date, :size => 11) +  calendar_for('start_date')),
              :end_date => (text_field_tag('end_date', @budget_calculator.end_date, :size => 11) +  calendar_for('end_date'))
          ) %>
      <button type="submit"><%= t(:submit_budget_date) %></button>
    </form>
  </h2>

  <dl class="dl dl-horizontal">
    <dt><%= t(:worked_hours_count) %></dt>
    <dd><%= @budget_calculator.worked_hours_count %> <%= t(:field_hours).downcase %></dd>

    <dt><%= t(:worked_income) %></dt>
    <dd><%= @budget_calculator.worked_income %> <%= t(:wages_currency) %></dd>

    <dt><%= t(:worked_cost) %></dt>
    <dd><%= @budget_calculator.worked_cost %> <%= t(:wages_currency) %></dd>

    <dt><%= t(:worked_profit) %></dt>
    <dd><%= @budget_calculator.worked_profit %> <%= t(:wages_currency) %></dd>
  </dl>

  <br />

  <h3><%= t(:budget_roles_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:role) %></th>
        <th><%= t(:planned_hours_count) %></th>
        <th><%= t(:worked_hours_count) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_role.each do |row| %>
      <tr>
        <td><%= row[:role].name %></td>
        <td><%= row[:planned_hours_count] %></td>
        <td><%= row[:worked_hours_count] %></td>
        <td><%= row[:worked_income] %></td>
        <td><%= row[:worked_cost] %></td>
        <td><%= row[:worked_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br /><br />

  <h3><%= t(:budget_users_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:user) %></th>
        <th><%= t(:worked_hours_count) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_user.each do |row| %>
      <tr>
        <td><%= link_to row[:user].name, time_entries_path(user_id: row[:user].id, project_id: @project.id) %></td>
        <td><%= row[:worked_hours_count] %></td>
        <td><%= row[:worked_income] %></td>
        <td><%= row[:worked_cost] %></td>
        <td><%= row[:worked_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br /><br />
  
  <h3><%= t(:budget_months_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:month) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_month.each do |month_date, row| %>
      <tr>
        <td><%= month_name(month_date.month) + month_date.strftime(" %Y") %></td>
        <td><%= row[:income] %></td>
        <td><%= row[:cost] %></td>
        <td><%= row[:profit] %></td>
      </tr>
      <% end %>      
    </tbody>
  </table>

  <br /><br />

  <h3 class="inline"><%= t(:budget_entries) %></h3>
  <%= link_to t(:manage_budget_entries_categories), project_budget_entries_categories_path(@project), class: "icon icon-edit" %>

  <% %w[cost income].each do |entry_type| %>
    <br />

    <table class="list">
      <caption><%= t(entry_type.pluralize) %></caption>
      <thead>
        <tr>
          <th><%= t("#{entry_type.pluralize}_category") %></th>
          <th><%= t("planned_#{entry_type}") %></th>
          <th><%= t("worked_#{entry_type}") %></th>
        </tr>
      </thead>
      <tbody>
        <% @budget_calculator.entries_by_category(entry_type).each do |entries_category| %>
          <tr>
            <td><%= entries_category.name %></td>
            <td><%= entries_category.planned_amount %></td>
            <td><%= entries_category.worked_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% end %>
