<% include_calendar_headers_tags %>
<%= javascript_include_tag 'budget', plugin: 'espeo_budget' %>
<%= stylesheet_link_tag 'budget', plugin: 'espeo_budget' %>

<% cache(@budget_calculator.cache_key, expires_in: 1.hour) do %>
  <h2 class="inline"><%= t(:project_budget) %></h2>
  <%= link_to t(:budget_settings), edit_project_budget_path(@project), :class => "icon icon-edit" %>

  <dl class="dl dl-horizontal">
    <dt><%= t(:project_start_date) %></dt>
    <dd><%= @project.custom_start_date %></dd>

    <dt><%= t(:project_end_date) %></dt>
    <dd><%= @project.custom_end_date %></dd>

    <dt><%= t(:planned_hours_count) %></dt>
    <dd><%= @budget.planned_hours_count %> godzin</dd>

    <dt><%= t(:total_hours_count) %></dt>
    <dd><%= @budget.total_hours_count %> godzin</dd>

    <dt><%= t(:total_hours_income) %></dt>
    <dd><%= @budget.total_hours_income %> <%= t(:budget_currency) %></dd>
    
    <dt><%= t(:total_hours_cost) %></dt>
    <dd><%= @budget.total_hours_cost %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:total_hours_profit) %></dt>
    <dd><%= @budget.total_hours_profit %> <%= t(:budget_currency) %></dd>


    <dt><%= t(:total_entries_income) %></dt>
    <dd><%= @budget.total_entries_income %> <%= t(:budget_currency) %></dd>
    
    <dt><%= t(:total_entries_cost) %></dt>
    <dd><%= @budget.total_entries_cost %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:total_entries_profit) %></dt>
    <dd><%= @budget.total_entries_profit %> <%= t(:budget_currency) %></dd>


    <dt><%= t(:total_income) %></dt>
    <dd><%= @budget.total_income %> <%= t(:budget_currency) %></dd>
    
    <dt><%= t(:total_cost) %></dt>
    <dd><%= @budget.total_cost %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:total_profit) %></dt>
    <dd><%= @budget.total_profit %> <%= t(:budget_currency) %></dd>
  </dl>

  <br />
  <hr />
  <br />

  <h2>
    <form method="GET">
      <%= t(:budget_state_for_dates_html, 
              :start_date => (text_field_tag('start_date', @budget_calculator.start_date, :size => 11) +  calendar_for('start_date')),
              :end_date => (text_field_tag('end_date', @budget_calculator.end_date, :size => 11) +  calendar_for('end_date'))
          ) %>
      <button type="submit"><%= t(:submit_budget_date) %></button>
    </form>
  </h2>

  <dl class="dl dl-horizontal">
    <dt><%= t(:real_hours_count) %></dt>
    <dd><%= @budget_calculator.real_hours_count %> <%= t(:field_hours).downcase %></dd>

    <dt><%= t(:real_hours_income) %></dt>
    <dd><%= @budget_calculator.real_hours_income %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:real_hours_cost) %></dt>
    <dd><%= @budget_calculator.real_hours_cost %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:real_hours_profit) %></dt>
    <dd><%= @budget_calculator.real_hours_profit %> <%= t(:budget_currency) %></dd>


    <dt><%= t(:real_entries_income) %></dt>
    <dd><%= @budget_calculator.real_entries_income %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:real_entries_cost) %></dt>
    <dd><%= @budget_calculator.real_entries_cost %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:real_entries_profit) %></dt>
    <dd><%= @budget_calculator.real_entries_profit %> <%= t(:budget_currency) %></dd>


    <dt><%= t(:real_income) %></dt>
    <dd><%= @budget_calculator.real_income %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:real_cost) %></dt>
    <dd><%= @budget_calculator.real_cost %> <%= t(:budget_currency) %></dd>

    <dt><%= t(:real_profit) %></dt>
    <dd><%= @budget_calculator.real_profit %> <%= t(:budget_currency) %></dd>
  </dl>

  <br />

  <h3><%= t(:budget_roles_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:role) %></th>
        <th><%= t(:planned_hours_count) %></th>
        <th><%= t(:real_hours_count) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_role.each do |row| %>
      <tr>
        <td><%= row[:role].name %></td>
        <td><%= row[:planned_hours_count] %></td>
        <td><%= row[:real_hours_count] %></td>
        <td><%= row[:real_income] %></td>
        <td><%= row[:real_cost] %></td>
        <td><%= row[:real_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br /><br />

  <h3><%= t(:budget_users_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:user) %></th>
        <th><%= t(:real_hours_count) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_user.each do |row| %>
      <tr>
        <td><%= link_to row[:user].name, time_entries_path(user_id: row[:user].id, project_id: @project.id) %></td>
        <td><%= row[:real_hours_count] %></td>
        <td><%= row[:real_income] %></td>
        <td><%= row[:real_cost] %></td>
        <td><%= row[:real_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br /><br />
  
  <h3><%= t(:budget_months_breakdown) %></h3>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:month) %></th>
        <th><%= t(:income) %></th>
        <th><%= t(:cost) %></th>
        <th><%= t(:profit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_month.each do |month_date, row| %>
      <tr>
        <td><%= month_name(month_date.month) + month_date.strftime(" %Y") %></td>
        <td><%= row[:income] %></td>
        <td><%= row[:cost] %></td>
        <td><%= row[:profit] %></td>
      </tr>
      <% end %>      
    </tbody>
  </table>

  <br />
  <hr>
  <br />

  <h3 class="inline"><%= t(:budget_entries) %></h3>
  <%= link_to t(:manage_budget_entries_categories), project_budget_entries_categories_path(@project), :class => "icon icon-edit" %>
  <%= link_to t(:add_new_budget_entry), new_project_budget_entry_path(@project), :class => "icon icon-add" %>

  <% BudgetEntriesCategory::ENTRY_TYPES.keys.map(&:to_s).each do |entry_type| %>
    <% entries_categories = @budget_calculator.entries_by_category(entry_type) %>
    <% entries_categories = @project.budget_entries_categories.send(entry_type.pluralize) %>
    <br />

    <table class="list">
      <caption>
        <%= t(entry_type.pluralize) %>
        <%= link_to t("add_new_#{entry_type}"), new_project_budget_entry_path(@project, entry_type: entry_type), :class => "icon icon-add" %>
      </caption>

      <% if entries_categories.present? %>
        <thead>
          <tr>
            <th width="40%"><%= t("#{entry_type.pluralize}_category") %></th>
            <th width="30%"><%= t("planned_#{entry_type}") %></th>
            <th width="30%"><%= t("real_#{entry_type}") %></th>
          </tr>
        </thead>
        <tbody>
          <% entries_categories.each do |entries_category| %>
            <tr>
              <td>
                <%= entries_category.name %>
                <%= link_to "", new_project_budget_entry_path(@project, entry_type: entry_type, budget_entry: { category_id: entries_category.id }), :class => "icon icon-add", :title => t(:add_new_budget_entry) %>
                <%= link_to t(:toggle_budget_entries), "#", :class => "icon icon-zoom-in js-toggle-budget-entries-rows", :data => { :category_id => entries_category.id } if entries_category.budget_entries.present? %>
              </td>
              <td><%= entries_category.planned_amount %></td>
              <td><%= entries_category.real_amount %></td>
            </tr>
            <% entries_category.budget_entries.each do |entry| %>
              <tr class="budget-entry budget-entry-for-<%= entry.category_id %>">
                <td>
                  <%= entry.name %>
                  <%= link_to '', [:edit, @project, entry], :class => "icon icon-edit", :title => t(:button_edit) %>
                  <%= link_to '', [@project, entry], :class => "icon icon-del", :method => :delete, :title => t(:button_delete) %>
                </td>
                <td colspan="2" class="alignleft">
                  <% t_values = {
                    netto_amount: entry.netto_amount,
                    tax: entry.tax,
                    brutto_amount: entry.brutto_amount,
                    user: (link_to(entry.user.name, user_path(entry.user)) if entry.user_id),
                    created_on: entry.created_on,
                    deposit_amount: entry.deposit_amount,
                    issue_id: (link_to("\##{entry.issue_id}", issue_path(entry.issue_id)) if entry.issue_id)
                  } %>
                  <%= t :budget_entry_details_amounts_html, t_values %> <br>
                  <%= t :budget_entry_details_author_html, t_values %> <br>
                  <%= t :budget_entry_details_issue_html, t_values if entry.issue_id %>

                  <% if entry.custom_field_values.any? %>
                  <ul>
                    <% entry.custom_field_values.each do |custom_value| %>
                      <% if custom_value.value.present? %>
                         <li><%=h custom_value.custom_field.name %>: <%=h show_value(custom_value) %></li>
                      <% end %>
                    <% end %>
                  </ul>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% else %>
        <tr>
          <td><%= t(:no_entries_categories_yet) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

<% end %>
