<% include_calendar_headers_tags %>
<%= javascript_include_tag 'budget', plugin: 'espeo_budget' %>
<%= stylesheet_link_tag 'budget', plugin: 'espeo_budget' %>

<% cache(@budget_calculator.cache_key, expires_in: 1.hour) do %>
  <h2 class="inline">Budżet projektu</h2>
  <%= link_to "Ustawienia budżetu", edit_project_budget_path(@project), class: "icon icon-edit" %>

  <dl class="dl dl-horizontal">
    <dt>Data rozpoczęcia projektu</dt>
    <dd><%= @project.custom_start_date %></dd>

    <dt>Data zakończenia projektu</dt>
    <dd><%= @project.custom_end_date %></dd>

    <dt>Planowana ilość godzin</dt>
    <dd><%= @budget.planned_hours_count %> godzin</dd>

    <dt>Planowany dochód</dt>
    <dd><%= @budget.total_income %> zł</dd>
    
    <dt>Planowany koszt</dt>
    <dd><%= @budget.total_cost %> zł</dd>

    <dt>Planowany zysk</dt>
    <dd><%= @budget.total_profit %> zł</dd>
  </dl>

  <br />
  <hr />
  <br />

  <h2>
    Stan na dzień <%= @budget_calculator.current_date %>
    <form method="GET">
      <input type="hidden" name="current_date" class="js-budget-datepicker" value="<%= @budget_calculator.current_date %>" />
    </form>
  </h2>

  <dl class="dl dl-horizontal">
    <dt>Liczba przepracowanych godzin</dt>
    <dd><%= @budget_calculator.worked_hours_count %> godzin</dd>

    <dt>Dochód</dt>
    <dd><%= @budget_calculator.worked_income %> zł</dd>

    <dt>Koszt</dt>
    <dd><%= @budget_calculator.worked_cost %> zł</dd>

    <dt>Zysk</dt>
    <dd><%= @budget_calculator.worked_profit %> zł</dd>
  </dl>

  <br />

  <h3>Podział na role</h3>
  <table class="list">
    <thead>
      <tr>
        <th>Rola</th>
        <th>Liczba przepracowanych godzin</th>
        <th>Dochód</th>
        <th>Koszt</th>
        <th>Zysk</th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_role.each do |row| %>
      <tr>
        <td><%= row[:role].name %></td>
        <td><%= row[:worked_hours_count] %></td>
        <td><%= row[:worked_income] %></td>
        <td><%= row[:worked_cost] %></td>
        <td><%= row[:worked_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <br />

  <h3>Podział na użytkowników</h3>
  <table class="list">
    <thead>
      <tr>
        <th>Użytkownik</th>
        <th>Liczba przepracowanych godzin</th>
        <th>Dochód</th>
        <th>Koszt</th>
        <th>Zysk</th>
      </tr>
    </thead>
    <tbody>
      <% @budget_calculator.works_by_user.each do |row| %>
      <tr>
        <td><%= link_to row[:user].name, time_entries_path(user_id: row[:user].id) %></td>
        <td><%= row[:worked_hours_count] %></td>
        <td><%= row[:worked_income] %></td>
        <td><%= row[:worked_cost] %></td>
        <td><%= row[:worked_profit] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
