<%= error_messages_for 'category' %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true, :size => 60 %></p>
  <p>
    <label><%= t(:budget_entry_type) %></label>
    <% BudgetEntriesCategory::ENTRY_TYPES.each do |name, key| %>
      <label class="inline">
        <%= f.radio_button :entry_type, key, :size => 60 %> <%= t(name) %>
      </label>
    <% end %>
  </p>
</div>
