<%= stylesheet_link_tag 'budget', plugin: 'espeo_budget' %>

<h2 class="inline"><%= t(:budget_entries_categories) %></h2>
<%= link_to t(:go_back_to_budget), project_budget_path(@project), class: "icon icon-cancel" %>
<%= link_to t(:add_new_category), new_project_budget_entries_category_path(@project), class: "icon icon-add" %>

<% BudgetEntriesCategory::ENTRY_TYPES.keys.map(&:to_s).each do |entry_type| %>
  <% entries_categories = @project.budget_entries_categories.send(entry_type.pluralize) %>

  <table class="list">
    <caption>
      <%= t("#{entry_type}_entries_categories") %>
    </caption>
    <% if entries_categories.present? %>
      <thead>
        <tr>
          <th width="40%"><%= t(:field_name) %></th>
          <th width="10%"><%= t(:actions) %></th>
        </tr>
      </thead>
      <tbody>
        <% entries_categories.each do |entries_category| %>
          <tr>
            <td><%= entries_category.name %></td>
            <td>
              <%= link_to t(:button_edit), [:edit, @project, entries_category], class: "icon icon-edit" %>
              <%= link_to t(:button_delete), [@project, entries_category], class: "icon icon-del", method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <tr>
        <td><%= t(:no_entries_categories_yet) %></td>
      </tr>
    <% end %>
  </table>

  <br>
<% end %>
